*.pyc
*~
*#
*.out
*.pdf
*.png
*.root
*__init__.py

CVS

# CMSSW related stuff
rereco/CMSSW/*
!rereco/CMSSW/src


tree/CMSSW_4_2_8_patch7/*
!tree/CMSSW_4_2_8_patch7/src
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/*.out
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/.*
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/*~
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/*.pyc
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/*#
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/python/__init__*

tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/crab/*.out
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/crab/*.root
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/output_crab/*
tree/CMSSW_4_2_8_patch7/src/MakeTree/MakeTrackValTree/crab_0_*

tree/CMSSW_4_2_8_patch7/src/TrackReReco/*~
tree/CMSSW_4_2_8_patch7/src/TrackReReco/*.pyc
tree/CMSSW_4_2_8_patch7/src/TrackReReco/.*
tree/CMSSW_4_2_8_patch7/src/TrackReReco/.#
tree/CMSSW_4_2_8_patch7/src/TrackReReco/*.root
tree/CMSSW_4_2_8_patch7/src/TrackReReco/__init__*
tree/CMSSW_4_2_8_patch7/src/TrackReReco/out_tests/*
tree/CMSSW_4_2_8_patch7/src/TrackReReco/crab/output_crab/*
tree/CMSSW_4_2_8_patch7/src/TrackReReco/crab/input_crab/*
tree/CMSSW_4_2_8_patch7/src/TrackReReco/crab/*.root

tree_to_histo/histograms
tree_to_histo/input_trees
tree_to_histo/input_trees/backup
tree_to_histo/*.pyc
tree_to_histo/*~
tree_to_histo/*.out
tree_to_histo/*.root

plot/out_plots
plot/*.pyc
plot/*~
plot/*.out
plot/*.root

# Crab jobs
crab_0*/
*.history

# Compilation related files
*.so